.title{
    padding: 32px 0px;
    text-align: center;
    border-bottom: 1px solid rgba(160, 160, 160, 0.8);
}

.post{
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
    align-content: center;
    margin: 16px 8px;
}

.post-header{
    flex-direction: row;
    width: 100%;
    align-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid rgba(160, 160, 160, 0.8);
}

.pagination{
    align-items: center;
    justify-content: center;
}

.pagination li{
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    min-width: 30px;
    background-color: rgba(230, 230, 230, 0.8);
    border: 1px solid rgba(100,100,100,0.7);
}

.pagination li a{
    text-decoration: none !important;
    color: black;
}

.pagination li:hover{
    opacity: 0.5;
}